/* Empty. Add your own CSS if you like */
.spacing {
  display: block;
  height: 30px;
  outline: 1px red dotted;
}

#rontab {
  background-image: url('../img/NickOfferman.jpg'); background-size: cover;
  padding-top: 30px;
}

h3.ron {
  padding-left: 5px;
}

.ronquote {
  font-weight: bold;
  font-size: 16px;
  color: white;
  padding: 15px;
  padding-bottom: 70px;
}

.blur {
  border-radius:10px;
  background-color: rgba(120, 120, 120, 0.4);
}

.ronbtn {
  position: absolute;
  bottom: 15px;
  right: 15px;
}
